<div class="guitar guitar-list-item">
    <div class="guitar-cover">
        <img src="https://www.fender.com.br/imgs/produtos/gra/fender_10171927.jpg" alt="Temporario">
        <div class="guitar-title-container">
            <h2 class="guitar-title">Fender Stratocaster 1969</h2>
        </div>
    </div>

        <div class="guitar-author">
            <span class="guitar-author-item">
                <i class="fas fa-user"></i>
                Leo Fender
            </span>
            <span class="guitar-author-item">
                <i class="fas fa-calendar"></i>
                1969
            </span>
            <span class="guitar-author-item">
                <a href="/">
                    <i class="fas fa-layer-group"></i>
                    <span>Eletric</span>
                </a>
            </span>
        </div>

        <div class="guitar-content">
            <p>The Fender Stratocaster is a model of electric guitar designed by Leo Fender, George Fullerton and Freddie Tavares in 1954, it is manufactured continuously until today, being one of the most famous guitars in history.</p>
        </div>

        <div class="guitar-meta-container">
            <div class="guitar-meta guitar-preparation">
                <h3 class="guitar-meta-title"><i class="fa-solid fa-code-branch"></i> Wood</h3>
                <div class="guitar-meta-text">
                    American Maple
                </div>
            </div>
            <div class="guitar-meta guitar-serving">
                <h3 class="guitar-meta-title"><i class="fa-solid fa-headphones"></i> Pickup</h3>
                <div class="guitar-meta-text">
                    3 Single Coils
                </div>
            </div>
        </div>
        <footer class="guitar-footer">
            <a class="guitar-read-more button button-dark button-full-width" href="/guitars/3/">
                <i class="fas fa-eye"></i>
                <span>More information...</span>
            </a>
        </footer>

</div>
