{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/search_container.html' %}

    <main class='main-content-container'>
        <div class="main-content main-content-list container">
            <div class="guitar guitar-list-item">
                <div class="guitar-cover">
                    <img src="https://www.fender.com.br/imgs/produtos/gra/fender_10171927.jpg" alt="Temporario">
                </div>
            </div>
        </div>
    </main>
</body>

</html>
