{% include 'partials/head.html' %}

<body>
    {% include 'partials/header.html' %}
    {% include 'partials/search_container.html' %}

    <main class='main-content-container'>
        <div class="main-content main-content-list container">
            <div class="guitar guitar-list-item">
                <div class="guitar-cover">
                    <img src="https://www.fender.com.br/imgs/produtos/gra/fender_10171927.jpg" alt="Temporario">
                    <div class="guitar-title-container">
                        <h2 class="guitar-title">Fender Stratocaster 1969</h2>
                    </div>


                    <div class="guitar-author">
                        <span class="guitar-author-item">
                            <i class="fas fa-user"></i>
                            Leo Fender
                        </span>
                        <span class="guitar-author-item">
                            <i class="fas fa-calendar"></i>
                            1969
                        </span>
                        <span class="guitar-author-item">
                            <a href="/">
                                <i class="fas fa-layer-group"></i>
                                <span>Rock/Blues</span>
                            </a>
                        </span>
                    </div>

                    <div class="guitar-content">
                        <p>A Fender Stratocaster é um modelo de guitarra elétrica desenhada por Leo Fender, George
                            Fullerton e Freddie Tavares em 1954, é fabricada continuamente até os dias de hoje,
                            sendo
                            uma das guitarras mais famosas da história.</p>
                    </div>





                </div>
            </div>
        </div>
    </main>
</body>

</html>
